/* ====== Generel */

* {
  font-family: "Poppins", sans-serif;
}

/* ====== Header */

.header,
.main section,
.footer {
  padding: 0 4rem;
}

/* ====== Navigation Bar */

.nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 3rem;
  width: 100%;
  object-fit: cover;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.navbar-list a {
  text-decoration: none;
  color: black;
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.navbar-list .sign-up {
  background-color: black;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

/* ====== Header Showcase */

.header-showcase {
  padding: 2.5rem;
  background-image: url("../img/header-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 40vh;
  border-radius: 2rem;
  margin-top: 2rem;
}

.showcase-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 2rem 3rem;
}

.headline {
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  position: relative;
  z-index: 20;
  margin: 0;
}
.block {
  display: block;
}
.highlight-a::before {
  position: absolute;
  content: "";
  top: 0;
  left: -2rem;
  background-color: white;
  width: 100%;
  height: 6.5rem;
  z-index: -1;
  transform: rotatez(-2deg);
}
.block .highlight-b {
  position: relative;
}
.highlight-b::before {
  position: absolute;
  content: "";
  left: -1.5rem;
  background-color: #ebd96b;
  width: 110%;
  height: 6.5rem;
  z-index: -1;
  transform: rotatez(-2deg);
}

.headline-detail {
  font-size: 2rem;
  font-weight: 300;
}

.showcase-link {
  background-color: black;
  color: white;
  padding: 1.25rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

/* ====== Main */

.section-header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 4rem 0;
}

.section-headline {
  background-image: url("../img/background_headline.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
}

.secondary-headline {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  margin: 0;
  padding: 0;
}

.filter-dropDown {
  padding: 0.25rem;
  padding-right: 1rem;
}

.filterForm {
  display: flex;
  gap: 3rem;
}

.filterContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filter-label {
  font-size: 1.25rem;
  font-weight: 700;
}

/* ====== Articles  */

#content {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  /* padding: 5rem; */
  grid-template-areas: "A A A";
}

.article {
  display: flex;
  flex-direction: column;
}

.article-details,
.sizeList li button {
  font-size: 1.5rem;
  color: #7f7f7f;
  letter-spacing: -0.04rem;
}

.article-details h2 {
  color: black;
  font-size: 2rem;
  font-weight: 500;
}

.article-image {
  object-fit: cover;
  object-position: center;
  height: 50rem;
  width: 100%;
  border-radius: 1.5rem;
}

.headlineContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.headlineContainer button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.openDetailBtn {
  background-image: url("../img/arrow.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.75s;
}

.openDetailBtn.active {
  transform: scale(-1);
}
.openDetailBtn.inactive {
  transition: all 0.75s;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  height: 5rem;
  transition: all 0.75s;
}

.priceContainer p,
.priceContainer ul {
  padding: 0;
  margin: 0;
}

.priceContainer.closed {
  display: none;
  opacity: 0;
}
.priceContainer.open {
  display: flex;
  opacity: 1;
}

.dropDownContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sizeList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1.25rem;
}

.sizeButton {
  padding: 0;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filterArticleBtn {
  height: 2rem;
}

/* ====== Download Section */

.download {
  margin: 6rem 0;
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

.download-information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 60%;
  margin-left: 4rem;
}

.download-information h2 {
  font-size: 4rem;
  text-transform: uppercase;
}
.download-information span {
  display: block;
}

.download-information p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #7f7f7f;
  line-height: 2rem;
  letter-spacing: -0.04rem;
}

.download-background {
  background-image: url("../img/app.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

/* ====== Newsletter */

.newsletter {
  height: 40vh;
  background-color: #e5c643;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

#hidden {
  display: none;
}

.newsletter-headline,
.newsletter-p {
  color: white;
}
.newsletter-headline {
  font-size: 3rem;
  text-transform: uppercase;
}
.newsletter-headline span {
  display: block;
}
.newsletter-p {
  font-size: 1.75rem;
}

.newsletter-input {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 4rem;
  width: 20rem;
  border-radius: 0.5rem;
}
.newsletter-input.invalid {
  background-color: rgb(245, 168, 168);
}

.newsletter-submit {
  background-color: black;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  border: none;
}

.newsletter-textInput {
  background-color: transparent;
  border: none;
  outline: none;
}

/* ====== Footer */
.footer * {
  margin: 0;
}

.footer {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer h3 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.footer p {
  font-size: 1.5rem;
  color: #7f7f7f;
}

.about-section {
  display: flex;
  gap: 5rem;
}

.about-tile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: white;
}

.about-tile > a {
  text-decoration: none;
  color: #8e8e8e;
}

.about-tile > h4 {
  font-size: 1.5rem;
}

.socialmedia-tile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.socialmedia-container {
  display: flex;
  gap: 1rem;
}

.socialmedia-button {
  background-color: #ebd96b;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* ====== Utilities */

.shoppingBagContainer {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
  background-color: rgb(255, 255, 156);
  background-image: url("../img/shopping-cart.svg");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.shoppingBagButton {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10rem;
  background-color: transparent;
  cursor: pointer;
}

.shoppingBagNumber {
  font-size: 1.15rem;
  background-color: rgb(213, 213, 23);
  border-radius: 10rem;
  position: fixed;
  bottom: 3.5rem;
  right: 5.75rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  display: grid;
  place-items: center;
}

.cookiesStatus {
  background: rgba(251, 237, 163, 0.5);
  backdrop-filter: blur(0.5rem);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
}
.cookiesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  height: 6rem;
  background-color: #fbeda3;
}
.cookiesContainer > * {
  margin: 0;
  padding: 0;
}

.cookies-headline {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.cookies-buttons {
  display: flex;
  gap: 1rem;
}

.cookiesStatus.validCookies {
  display: none;
}

.accept {
  background-color: black;
  padding: 0.75rem 1.5rem;
  color: white;
  border-radius: 0.5rem;
  border: none;
}

.reject {
  background-color: white;
  padding: 0.75rem 1.5rem;
  color: black;
  border-radius: 0.5rem;
  border: none;
}

.blurred {
  filter: blur(1rem);
}
